<h2><%= @course.name %></h2>
<h3><%= link_to "See Assignments", semester_course_assignments_path(@semester, @course) %></h3>

<br>
<%= link_to "Go back to Courses", semester_courses_path(@semester.id, @course.id) %>
